.first-screen {
    position: relative;
    width: 100%;
    height: 948px;
    background-color: rgb(255, 255, 255);
    background-image: url(../images/mobail-header.png);
    background-repeat: no-repeat;
    background-size: contain;
}