.info {
    display: flex;
    gap: 20px;
    height: 30px;
}

.info__data {
    display: flex;
    align-items: center;
    gap: 9px;
}

.info-text {
    color: var(--text-white);
    font-size: 11px;
    font-weight: 400;
    line-height: normal;
}