:root {
    --font-muller: 'Muller';
    --font-accent: 'Orbitron', sans-serif;
    --font-main: 'Gilroy', sans-serif;
    --font-color: #183D4C;

    --text-color: #12323F;
    --text-white: #ffffff;


    --color-hover: #35515D;
    --accent: #38AB96;
    --color-card: #193e4d;
    --color-button-hover: #268171;
    
    --ui-light-green:  #38AB96;
    --ui-black: #000000;
    --ui-gray: #6B6B6B;
    --ui-violet-blue: #3D4A6F;
    --ui-white: #ffffff;
    --ui-orange: #D75941;
    --ui-green: #04715D;
}